
:root{
    /* main */
    --main-background: rgb(252, 252, 252);

    /* Features Section */
    --features-background: rgb(244, 244, 244);

    /* Feature */
    --feature-font-color:rgba(131, 37, 255);
    --feature-border-color:rgba(131, 37, 255);
    --feature-content-font-color:#5a5a5a;;
    --feature-background: rgb(255, 255, 255);
    --feature-header-color:black;
    --feature-shadow-color: rgba(150, 150, 150, 0.3);
    --feature-img-border-color:rgba(0, 0, 0, 0.2);

    /* Logo */
    --logo-border-color:rgb(150, 150, 150);

    /* Header Section */
    --header-background : rgba(255, 255, 255);  
    --header-login-background : rgba(255, 255, 255);
    --header-download-text:rgba(255, 255, 255);
    --header-shadow-color: rgb(184, 184, 184);
    --header-background : rgba(255, 255, 255);
    --header-left-font-color:black;
    --header-left-font-hover-color:blue; 
    --header-login-font-color:black;
    --header-login-font-hover-color:blue;

    /* Sign Up */
    --signup-input-border-color:rgb(227, 227, 227);
    --signup-input-shadow-color:rgb(222, 222, 222);
    --signup-button-shadow-color:rgb(150, 150, 150);
    --signup-button-border-color:rgb(150, 150, 150);

    /* Download */
    --download-background : rgb(131, 37, 255);
    --download-background-hover : rgb(107, 32, 206);

    /* How it Works Section */
    --how-it-works-border-color:rgba(131, 37, 255, 1);
    --how-it-works-header-color:rgba(131, 37, 255, 1);
    --how-it-works-font-color:rgb(50, 50, 50);
    --how-it-works-background-color:rgba(0, 0, 0, 0.05);
    --how-it-works-left-border-color:rgba(131, 37, 255, 1);

    /* FAQ Section */
    --faq-container-shadow-color:rgb(150, 150, 150);
    --faq-header-color:rgba(131, 37, 255, 1);
    --faq-details-background-color:rgb(247, 247, 247);
    --faq-details-shadow-color:rgb(200, 200, 200);
    --faq-details-left-border-color:rgba(131, 37, 255, 1);
    --faq-details-font-color:rgb(80, 80, 80);
    --faq-summary-font-color:rgb(50, 50, 50);

    /* Other */
    --default-font-size: 16pt;
    --font-family-text: 'Roboto', sans-serif;

    /* Footer Section */
    --footer-text-color: white;
    --footer-text-hover-color:black;
    --footer-background: #422cb3;
}

/* Body css */
body{
    margin: 0;
    font-size: var(--default-font-size);
    font-family: var(--font-family-text) ;
    width: 100%;
}

/* Main css */
main{
    margin-top: 4.7rem;
    background-color: var(--main-background);
}

/* Footer css */
footer{
    background-color:var(--footer-background) ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items:center;
    align-content: center;
    color:var(--footer-text-color);
}

footer a{
    color:var(--footer-text-color);
}
footer a:hover{
    color:var(--footer-text-hover-color);
}

a{
text-decoration: none;
}

/* Introduction CSS */
.introduction{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 1rem;
}
.introduction article{
    border-radius: 0.2rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}
.introduction article,h1{
    font-size: 24pt;
    
}
.introduction article,p{
    font-size: 12pt;
}

/* Features CSS */
#features{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--features-background); 
    text-align: center;
    padding: 2rem 1rem;
}

#features-header{
    font-size: 32pt;
    color:var(--feature-font-color);
    margin-bottom: 1rem;
}

.feature{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    background-color: var(--feature-background); 
    box-shadow: 0rem 0.01rem 0.6rem var(--feature-shadow-color); 
    border-radius: 0.5rem;
    margin: 1.5rem;
    padding: 1rem;
}

.feature-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.feature-header{
    font-size: 20pt;
    color:var(--feature-header-color); 
    margin-bottom: 0.5rem;
}

.feature-img{
    box-shadow: 0rem 0.001rem 0.2rem var(--feature-img-border-color); 
    border-radius: 0.2rem;
    margin: 1rem;
    width: 30%;
    height: auto;
}


#features .feature {
    border: 0.1rem solid var(--feature-border-color)
}

.feature-content p {    
    font-size: 14pt;
    color: var(--feature-content-font-color);
    line-height: 1.6;
}

/* Logo CSS */
#logo{
    width: 20rem;  
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow:  0rem 0.01rem 0.1rem var(--logo-border-color);
}

/* Header CSS */
header{
    display: flex;
    position: fixed;
    top: 0;     
    width: 100%;
    font-size: var(--default-font-size);
    flex-flow: row wrap;
    box-shadow:  0rem 0.01rem 0.6rem var(--header-shadow-color);
    background-color: var(--header-background );
}

#left-header{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3rem;   
    margin: 1rem 2rem;
    
}

#left-header a{
    color: var(--header-left-font-color);
}

#left-header a:hover {
    color: var(--header-left-font-hover-color);
}

#right-header{
    display: flex;
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    margin: 1rem 2rem;
}

#login-link{
    color: var(--header-login-font-color);
    border-radius: 0.1rem;
    padding: 0.5rem 1rem;
    background-color: var(--header-login-background);
}

#login-link:hover{
    color: var(--header-login-font-hover-color);
}

#download-link{
    color: var(--header-download-text);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--download-background);
}

#download-link:hover{
    background-color: var(--download-background-hover);
}

/* Sign Up CSS */
.signup-btn{
    color: var(--header-download-text);
    background-color: var(--download-background);
    border: var(--header-download-background);
    border-radius: 0.2rem;
    box-shadow:  .1rem 0.1rem .1rem var(--signup-button-shadow-color);
    padding: 0.5rem 1rem;
}

.signup{
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 20pt;
}

.signup-btn:hover{
    background-color: var(--download-background-hover);
}

.signup-input{
    border: var(--signup-input-border-color) solid;
    border-radius: 0.2rem;
    margin: 0rem 1rem;
    max-width: 12rem;
    min-width: 6rem;
    height: 2rem;
    box-shadow:  .1rem 0.1rem .1rem var(--signup-input-shadow-color); 
    padding-left: 1rem;
}

/* How it Works CSS */
#how-it-works {
    background-color: var(--main-features-background);
    padding: 3rem 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem var(--signup-button-shadow-color);
    margin: 2rem auto;
    width: 80%;
    border: 2px solid var(--how-it-works-border-color); 
}

#how-it-works h2 {
    font-size: 28pt;
    margin-bottom: 2rem;
    color: var(--how-it-works-header-color); 
}

ul.steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16pt;
    color: var(--how-it-works-font-color);
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    
}

ul.steps li {
    display: flex;
    align-items: center;
    width: 80%; 
    gap: 1rem;
    padding: 1rem;
    background-color: var(--how-it-works-background-color);
    border-radius: 0.5rem;
    border-left: 4px solid var(--how-it-works-left-border-color); 
}

/* FAQ CSS */
#faq {
    background-color: var(--main-feature-background);
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.01rem 0.3rem var(--faq-container-shadow-color);
    margin: 2rem auto;
    width: 80%;
    
}

#faq h2 {
    font-size: 28pt;
    color: var(--faq-header-color); 
}

#faq details {
    background-color: var(--faq-details-background-color);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.01rem 0.2rem var(--faq-details-shadow-color);
    border-left: 4px solid var(--faq-details-left-border-color) 
}

#faq summary {
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
    color: var(--faq-summary-font-color);
}

#faq details p {
    font-size: 14pt;
    color: var(--faq-details-font-color);
    margin-top: 0.5rem;
}

/* Media css */
@media only screen and (min-width: 360px) { 
    .feature {
        width: 90%; 
        flex-direction: column;
    }
    .feature-img {
        width: 90%; 
    }
    .feature-content{
        width: 100%; 
    }

    main{
        margin-top: 15rem;
    }

    header{
        flex-flow: column wrap;
    }

    #right-header{
        flex-flow: column wrap;
    }
    #left-header{
        flex-flow: column wrap;
    }
}

@media only screen and  (min-width: 768px) { 
    .feature {
        width: 100%;
        flex-direction: row; 
    }
    .feature-img {
        width: 40%; 
    }
    .feature-content{
        width: 50%; 
    }

    main{
        margin-top: 15rem;
    }

    header{
        flex-flow: column wrap;
        margin: 0rem;
    }
    #right-header{
        flex-flow: column wrap;
    }
    #left-header{
        flex-flow: column wrap;
    }
}

@media only screen and  (min-width: 1024px) { 
    .feature {
        width: 80%;
        flex-direction: row; 
    }
    .feature-img {
        width: 30%; 
    }
    .feature-content{
        width: 60%; 
    }
    main{
        margin-top: 5rem;
    }

    header{
        flex-flow: row wrap;
    }
    
    #right-header{
        flex-flow: row wrap;
    }
    #left-header{
        flex-flow: row wrap;
    }
}

@media only screen and (min-width: 1200px) { 
    .feature {
        width: 60%;
        flex-direction: row; 
    }
    .feature-img {
        width: 30%; 
    }
    .feature-content{
        width: 60%; 
    }

    main{
        margin-top: 5rem;
    }

    header{
        flex-flow: row wrap;
    }

    #right-header{
        flex-flow: row wrap;
    }
    #left-header{
        flex-flow: row wrap;
    }
}

